<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tjsinfo.tjpark">

    <!--百度地图权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--支付宝相关权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--微信支付相关-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logoestore_1024pt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--BaiDuMap-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EXj18khot93RCrLj6yizGXo69iCEP5FC" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>


        <!--应用程序初始页面的设定-->
        <activity android:name="com.tjsinfo.tjpark.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--声明所有activity用于跳转-->
        <activity android:name="com.tjsinfo.tjpark.activity.TabBarActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.AddCarActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.ParkListActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.BlueParkActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.DetailActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.CarLifeDisPlayActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.ShareReleaseActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.LoginActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.BlueYuYueActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.RegActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.MyShareActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.MyCarActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.YellowParkActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.GreenParkActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.SugAddressActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.feiqi.OrdersActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.IncludeDetailActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.MapActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.activity.UpdateShareActivity"></activity>
        <activity android:name="com.tjsinfo.tjpark.fragment.ThreeFragment"></activity>
<!--微信支付-->
        <activity
            android:name="com.tjsinfo.tjpark.util.PayDemoActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxbda31b250a331d1d"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tjsinfo.tjpark.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

        </activity>
        <!--支付宝相关activity-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>



    </application>


</manifest>