<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tjpark.tjsinfo.com.tjpark">

    <!--百度地图权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <!--BaiDuMap-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EXj18khot93RCrLj6yizGXo69iCEP5FC" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>


        <!--应用程序初始页面的设定-->
        <activity android:name=".OrdersActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--声明所有activity用于跳转-->
        <activity android:name=".AddCarActivity"></activity>
        <activity android:name=".ParkListActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <!--<activity android:name=".OrdersActivity"></activity>-->
        <activity android:name=".CarLifeDisPlayActivity"></activity>
        <activity android:name=".ShareReleaseActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".PersonActivity"></activity>
        <activity android:name=".RegActivity"></activity>
        <activity android:name=".MyShareActivity"></activity>
        <activity android:name=".CarLifeActivity"></activity>




    </application>

    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>